<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mun.minh_minhh.interlac">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashPage"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EventMain"
            android:theme="@style/AppTheme"
            android:uiOptions="splitActionBarWhenNarrow"/>
        <activity
            android:name=".BasicActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CameraMain"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatMain"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HomePage"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Events.Theater.TheaterMain"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SettingsMain"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Events.Music.MusicMain"
            android:theme="@style/AppTheme"
           />
        <activity
            android:name=".Events.ArtWork.ArtworkViewMain"
            android:label="@string/title_activity_artwork_view_main"
            android:theme="@style/AppTheme" />
        <activity android:name=".Events.Arts.ArtMain" />
        <activity android:name=".Events.Reviews.ReviewPage"></activity>
    </application>

</manifest>